Screen {
    background: rgba(248, 246, 133, 1);
}

ListView {
    margin: 2;
    background: rgba(138, 155, 61, 1);
    width: auto;
    height: auto;
}

ListItem {
    margin: 1 0 0 1;
    color: black;
}

Button {
    width: auto;
    height: auto;
    margin: 2 0 0 0;
}

Input {
    width: 90%;
    height: auto;
    margin: 2 0 0 0;
}

#lst_etiqueta {
    margin: 2 2 0 0;
    width: 30%;
}

#lst_item {
    width: 40%;
}

#vg_inputs {
    width: 44%;
}