name: Build and Release Gerenciador

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable with PyInstaller
        run: pyinstaller --onedir `
            --add-data "view/css;view/css" `
            --add-data "assets;assets" `
            --collect-submodules rich `
            --collect-submodules textual `
            --name "Gerenciador de Arquivos" `
            Main.py

      - name: Compactar build
        run: |
          powershell Compress-Archive `
            -Path "dist\Gerenciador de Arquivos\*" `
            -DestinationPath "Gerenciador de Arquivos.zip"

      - name: Upload do artefato
        uses: actions/upload-artifact@v4
        with:
          name: Gerenciador de Arquivos
          path: Gerenciador de Arquivos.zip